# ignore file or folder contains images dataset
BreaKHis_v1.tar.gz
BreaKHis_v1
Cancer
dataset_used
data_magnify

# (saved model from learning purpose)
src/Best_model
# temporary ignore model 
src/output
src/logs
